body {
    background-color: wheat;
}

h1 {
    color: darkcyan;
    background-color: thistle;
}

h2 {
    color: royalblue;
    background-color: pink;
}

h1 + p {
    color: firebrick;
    background-color: lavender;
}

h2 + p {
    color: forestgreen;
    background-color: cornsilk;
}

ul {
    background-color: floralwhite;
}
